@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 50% 98%;
    --foreground: 265 35% 25%;
    --card: 0 0% 100%;
    --card-foreground: 265 35% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 265 35% 25%;
    --primary: 221 53% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 10% 95%;
    --secondary-foreground: 265 35% 25%;
    --muted: 240 10% 95%;
    --muted-foreground: 240 4% 46%;
    --accent: 221 53% 96%;
    --accent-foreground: 221 53% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 92%;
    --input: 240 10% 96%;
    --ring: 221 53% 25%;
    --chart-1: 221 53% 25%;
    --chart-2: 340 89% 67%;
    --chart-3: 210 93% 66%;
    --chart-4: 45 93% 61%;
    --chart-5: 160 77% 55%;
  }

  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 340 89% 67%;
    --chart-3: 210 93% 66%;
    --chart-4: 45 93% 61%;
    --chart-5: 160 77% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
